#diskDashboard .grid>* {
    padding: calc(var(--spacing)/ 2) 0;
    border-radius: var(--border-radius);
    background: var(--code-background-color);
    text-align: center;
}

#edit-disks-modal .grid {
    padding: calc(var(--spacing)/ 1);
    border-radius: var(--border-radius);
    background: var(--code-background-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid {
    padding: calc(var(--spacing)) 0;
}

.diskContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin1 {
    margin: calc(var(--spacing)/ 2) calc(var(--spacing)/ 2);
}

#buttons a[role=button] {
    margin-right: calc(var(--spacing) * .5);
}

#buttons .grid {
    grid-row-gap: 0;
}

#refreshButtonContainer {
    text-align: right;
}